# Backend Environment Variables
PORT=3000
DATABASE_URL=postgresql://your_db_user:your_db_password@your_db_host:5432/your_db_name
JWT_SECRET=your_jwt_secret_key_panjang

# CLIENT_URL for CORS. You can separate multiple URLs with a comma for production.
CLIENT_URL=http://localhost:5173,https://your-netlify-app.netlify.app

SUPABASE_URL=your_supabase_url
SUPABASE_ANON_KEY=your_supabase_anon_key